<%if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>

<h1>My Reservations</h1>
<div>

	<ul>
		<% if @reservations.exists? %>
			<% @reservations.each do |reservation| %>
					<li>
						<%= image_tag reservation.book.image_cover_url %>
						<%= link_to(reservation.book.title, reservation.book) %>
						by <%= reservation.book.author %><br/>
					<%= button_to 'Return Book', reservation_path(reservation),
					method: :delete,
					data: {confirm: 'Are you sure you want to return the book?'} %>
				<% end %>
		<% else %>		
			<div class="flash alert alert-warning">You have nothing checked out.</div>
		<% end %>
	</ul>
</div>

