<article class="author">
  <header>
    <h2><%= @author.name %></h2>
  </header>

  <aside class="author-pic">
      <%= image_tag @author.image_url %>
  </aside>

  <p><%= @author.biography %><p>
  
  <fieldset>
    <legend>Details</legend>
    <p><label>Date of Birth: </label> <%= @author.dob %></p>
    <p><label>Nationality: </label> <%= @author.nationality %><p>
    <p><label>Awards: </label> <%= @author.awards %><p>
    
    <p><label>Publications</label></p>
      <aside class="book-cover">
        <% @books.each do |book| %>
          <li>
            <%= image_tag book.image_cover_url, :class => "book-img col-xs-3" %>
            <%= link_to(book.title, book, :class => "book-title col-xs-9") %>
            <div class="book-auth col-xs-9">by <%= book.author %></div>
          </li>
        <% end %>
      </aside>
    </fieldset>
</article>