<h1>Books</h1>
<p>Available as of <%= formatted_time(@available_at) %></p>
<%= page_entries_info @books %>
<ul id="books-list" class='col-xs-12'>
<% @books.each do |book| %>
<li>
<%= image_tag book.image_cover_url, :class => "book-img col-xs-3" %>
<%= link_to(book.title, book, :class => "book-title col-xs-9") %>
<div class="book-auth col-xs-9">by <%= link_to(book.author, author_path(book.author_id)) %></div>
</li>
<% end %>
</ul>
<%= paginate @books %>