<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <aside class="book-cover">
    <%= image_tag @book.image_cover_url, class: 'cover'%>
  </aside> 
  <p><label>Author:</label> <%= link_to(@book.author, author_path(:id => @book.author_id)) %></p>
  <p><label>Abstract:</label> <%= @book.abstract %></p>
  <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
  <p><label>Total in Library:</label> <%= @book.total_in_library %></p>
</article>


<%= link_to 'All Books', books_path %>
<% if session[:is_admin] %>

  <%= link_to 'Edit', edit_book_path(@book) %>
  <%= button_to 'Delete', @book,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
  <% if !Reservation.search(@book.id, session[:user_id]) %>
    <%= form_for(Reservation.new) do |f| %>
      <div><%= f.hidden_field :book_id, :value => @book.id %></div>
      <%= f.submit %>
    <% end %>
  <% else %>
    <div class="flash alert alert-warning">You have this book reserved - search your property and person, my liege</div>
  <% end %>

  
